/* css do background rotarivo */
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

.bgGradiente{
    min-height: 100vh;
    background: linear-gradient(140deg, #4935FF, #6F98F7, #6398FF, #7045FE, #D87EFE, #FE87E1, #FE929A, #FEB879, #ffb06c, #ffa95d, #ffa353, #d7edff, rgb(180, 212, 255), #6ac3ff);
    background-size: 600%;
    animation: bg-animation 30s infinite alternate;
    color:#1b1b1b;
}

@keyframes bg-animation {
    0% {background-position: left}
    60% {background-position: right}
    120% {background-position: left}
}
  
/* css dos elementos na pagina */

.controles {
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 30;
    margin: 1%;
    opacity: 3%;
    transition: .5s;
}

.controles:hover{
    opacity: 70%;
    cursor: pointer;
}

.home{
    font-size: 1.3em;
    margin-bottom: 1vh;
    text-decoration: none;
}
  
.content{
    text-align: center;
    height: 40vh;
    width: 150vh;
    transition: .5s;
}
  
.clock{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height:100vh;
    position: absolute;
  }
  
.weather{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    line-height: 0;
}

.hora{
    text-align: center;
    font-size: 13em;
    font-family: 'Thasadith', sans-serif;
    height: 40vh;
    width: 150vh;
    border: none;
    background-color: transparent;
    transition: .5s;
}
  
.date{
    font-size: 3em;
}
  
.lofi{
    display: flex;
    width:28vw;
    height:12vh;
    border-radius: 120px;
    margin-top: 1vh;
}

/* unvisited link */
.home:link {
    color: #2b2b2b;
}
  
  /* visited link */
.home:visited {
    color: #2b2b2b;
}
  
  /* mouse over link */
.home:hover {
    color: #2b2b2b;
}
  
  /* selected link */
.home:active {
    color: #2b2b2b;
}