@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

.luz {
  display: flex; 
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  margin: 1%;
}

.content{
  color: var(--rel-color);
  text-align: center;
  height: 40vh;
  width: 150vh;
  transition: .5s;
}

.clock{
  padding-bottom: 0;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.hora{
  color: var(--rel-color);
  text-align: center;
  font-size: 13em;
  font-family: 'Thasadith', sans-serif;
  height: 40vh;
  width: 150vh;
  border: none;
  background-color: transparent;
  transition: .5s;
}

.date{
  font-size: 3em;
}

.lofi{
  display: flex;
  width:28vw;
  height:12vh;
  border-radius: 120px;
}

.checkbox{
  position: relative;
  margin-bottom: 1vh;
  width: 60px;
  height: 30px;
  appearance: none;
  background: rgb(175, 0, 0);
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px black;
  transition: .5s;
}

.checkbox:checked{
  background: rgb(175, 0, 0);
}

.checkbox:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top:0;
  left:0;
  background: var(--btn-color);
  transform: scale(1.1);
  box-shadow: inset 0 0 5px black;
  transition: .5s;
}

.checkbox:checked:before{
  left: 40px; 
}

/* .content{ */
  /* // copiar os códigos do relógio //
  // criar uma div para unir relógio e data //
  // colocar o embed do yt na div do botão //
  // tirar a borda de tudo //
  // colocar border-radius no embed // */
/* }  */